{% extends "base.html" %}

{% block content %}

<h1>Hello {{ user }}!</h1>

<h3>{{ message }}</h3>

<form action="{% url 'home' %}", method="post", enctype="multipart/form-data">
    {% csrf_token %}
    {{ file_upload_form }}
     <input type="submit" name="FileUploadSubmit" value="Submit">
</form>

<form action="{% url 'home' %}", method="post">
    {% csrf_token %}
    {{ url_shortening_form }}
     <input type="submit" name="UrlShorteningForm" value="Submit">
</form>

<h5>>> <a href="{% url 'logout' %}">LOGOUT</a></h5>

<h3>-- SAVED FILES</h3>

{% if saved_file_models %}
<div class="custom_table">
<table border=1 frame=void rules=rows>
  <tr>
    <th>Protected URL</th>
    <th>Password</th>
    <th>Filename</th>
    <th>Date</th>
  </tr>
{% for e in saved_file_models %}
  <tr>
    <td><a href="{{ e.get_url }}">{{ e.get_url }}</a></td>
    <td>{{ e.password }}</td>
    <td>{{ e.get_original_filename }}</td>
    <td>{{ e.created }}</td>
  </tr>
{% endfor %}
</table>
</div>
{% else %}
<p>No files.</p>
{% endif %}

<h3>-- SAVED URLS</h3>

{% if saved_url_models %}
<div class="custom_table">
<table border=1 frame=void rules=rows>
  <tr>
    <th>Protected URL</th>
    <th>Password</th>
    <th>Direct URL</th>
    <th>Date</th>
  </tr>
{% for e in saved_url_models %}
  <tr>
    <td><a href="{{ e.get_url }}">{{ e.get_url }}</a></td>
    <td>{{ e.password }}</td>
    <td>{{ e.url }}</td>
    <td>{{ e.created }}</td>
  </tr>
{% endfor %}
</table>
</div>
{% else %}
<p>No urls.</p>
{% endif %}

{% endblock %}
